#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);   
  gap: 4px;                             
  width: 400px;                          
  margin: 20px auto;
}

.board > * {
  aspect-ratio: 1 / 1;                   
  background: #ccc;                      
  border: 1px solid #333;               
}

body {
  caret-color: transparent;
  user-select: none;
}

.piece {
  height: 60px;
  width: 60px;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  
}

.graveyard-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.graveyard-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}
